#father{

	position: relative;
	
}
#logo{

	position: relative;
	width: auto;
	top: -120px;
	left: 60px;
	height: auto;

}
#arms{

	position: relative;
	left: 10px;
	width: auto;
	height: auto;

}
#menu{
	
	background: green;
	height: auto;
	width: 300px;
	position: relative;
	left: 50%;
	margin-left: -150px;
	text-align: center;	
	font-size: 20px;
	color: white;
	
}
#formTeacher{

	height:auto;
	width: 500px;
	position: relative;
	left: 50%;
	margin-left: -250px;
	text-align: center;
	font-size: 18px;
	border: solid 1px;
	
}
#footer{

	position: relative;	
	text-align: center;

}
